body{
	padding: 0;
	margin: 0
}
.checkbox{
	float: right;
	width: 40%;
	height: 300px;
	background-color: #1c3e66;
	margin: 5px 29%;
	color: #fff;
	text-align: center;
	font-family: b koodak;
	text-decoration: none;
	overflow: hidden;
}
.uploadA{
	text-decoration: none;
	color: #fff;
	overflow: hidden;
}